* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white
}

#li1 {
    position: absolute;
    left: 1300px;
}

#li2 {
    position: absolute;
    left: 1400px;
}

#li3 {
    position: absolute;
    left: 1550px;
}
nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;

    font-family: "Roboto", sans-serif;
}

.logo{
    color: #D6000D;
    position: absolute;
    left: 29px;
    font-size: 30px;
}

.nav-links {
    display: flex;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

#contato {
    background:#D6000D;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 13px 65px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 25px;
    right: 30px;
}

#img1 {
    width: 600px;
    height: 540px;
    position: absolute;
    top: 200px;
    left: 350px;
}

#text1 {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 310px;
    right: 383px;
}

#h1t {
    color: #D6000D;
    font-size: 60px;
    position: absolute;
    top: 350px;
    right: 370px;

}

#butao {
    background:#D6000D;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 13px 65px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 470px;
    right: 480px;
}

#text11 {
    font-size: 20px;
    position: absolute;
    left: 350px;
}

#text2{
    font-size: 20px;
    position: absolute;
    left: 350px;
}

#text3 {
    font-size: 20px;
    position: absolute;
    left: 350px;
}

#text4 {
    font-size: 20px;
    position: absolute;
    left: 350px;
}

#text5 {
    font-size: 20px;
    position: absolute;
    left: 350px; 
}

#text6 {
    font-size: 20px;
    position: absolute;
    left: 350px;
}

#check {
    width: 25px;
    height: 20px;
    position: absolute;
    left: 300px;
}

#text-e {
    position: absolute;
    left: 300px;
    font-size: 30px;
    
}

#cell {
    background:rgb(194, 194, 194);
    color: black;
    border: 0;
    border-radius: 10px;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 18px;

    position: absolute;
    top:1490px;
    left: 300px;
}

#codi {
    width: 600px;
    height: 540px;
    position: absolute;
    top: 1000px;
    right: 200px;
}

#butao1 {
    background:#D6000D;
    color: white;
    border: 0;
    border-radius: 20px;
    padding: 25px 55px;    
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 1486px;
    left: 600px;
}

.prof1{
    background-color: rgb(196, 196, 196);
}

.prof1 img{
    width: 90px;
    height: 80px;
    border-radius: 100%;
}

.footer {
    padding: 200px;
    background-color: black;
}

#h1-footer {
    font-size: 65px;
    z-index: 2;
    background: black;
    color:white;
    position: absolute;
    top: 2055px;
    left: 38px;
}

#text1-footer {
    font-size: 30px;
    background: black;
    color:white;
    position: absolute;
    left: 40px;
    top: 2130px;
}

#h2-footer {
    font-size: 65px;
    z-index: 2;
    background: black;
    color: white;
    position: absolute;
    left: 500px;
    top: 2052px;
}

#text2-footer { 
    font-size: 30px;
        background: black;
        color:white;
        position: absolute;
        left: 500px;
        top: 2130px;
}

#h3-footer {
    font-size: 65px;
    z-index: 2;
    background: black;
    color: white;
    position: absolute;
    left: 1000px;
    top: 2052px;
}

#text3-footer {
    font-size: 25px;
    background: black;
    color:white;
    position: absolute;
    left: 1000px;
    top: 2130px;
}

#redes-footer {
    font-size: 65px;
    z-index: 2;
    background: black;
    color: white;
    position: absolute;
    left: 1400px;
    top: 2052px;
}

#facebook {
    z-index: 2;
    width: 60px;
    height: 50px;

    position: absolute;
    left: 1400px;
    top: 2130px;
}

#instagram {
    z-index: 2;
    width: 60px;
    height: 50px;

    position: absolute;
    left: 1500px;
    top: 2130px;
}

#twitter {
    z-index: 2;
    width: 60px;
    height: 50px;

    position: absolute;
    left: 1600px;
    top: 2130px;
}